{% extends "layouts/base.html" %}

{% block title %} Houses {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Papat</a></li>
                <li class="breadcrumb-item active" aria-current="page">Houses</li>
              </ol>
          </nav>
          <h2 class="h4">All Houses</h2>
          <p class="mb-0">Papat web analytics dashboard .</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
          </div>
      </div>
  </div>
  <div class="table-settings mb-4">
      <div class="row align-items-center justify-content-between">
          <div class="col col-md-6 col-lg-3 col-xl-4">
              <div class="input-group">
                  <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                  <input type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
              </div>
          </div>
          <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-right">
              <div class="btn-group">
                  <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="icon icon-sm icon-gray pt-1">
                          <span class="fas fa-cog"></span>
                      </span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                      <span class="small ps-3 fw-bold text-dark">Show</span>
                      <a class="dropdown-item d-flex fw-bold" href="#">10 <span class="icon icon-small ms-auto"><span class="fas fa-check"></span></span></a>
                      <a class="dropdown-item fw-bold" href="#">20</a>
                      <a class="dropdown-item fw-bold" href="#">30</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="card card-body shadow-sm table-wrapper table-responsive">
<table class="table table-hover">
          <thead>
             <tr>
                 <th>#</th>
                 <th>buildingid</th>
                 <th>comission rate</th>
                 <th>description</th>
                 <th>rent</th>
                 <th>deposit</th>
                 <th>garbagefee</th>
                 <th>status</th>
                <th>rentduedate</th>
                 <th>Action</th>
            </tr>
          </thead>
    <tbody>
            {% for house in all_houses %}
            <tr>
                <td>PH{{ house.id }}</td>
                <td>PB{{ house.buildingid.id }}</td>
                <td>{{ house.buildingid.commissionrate }}</td>
                <td>{{ house.description }}</td>
                <td>{{ house.rent }}</td>
                <td>{{ house.deposit }}</td>
                <td>{{ house.garbagefee }}</td>
                <td>{{ house.status }}</td>
                <td>{{ house.rentduedate }}</td>
                <td>
                      <div class="btn-group">
                          <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                              </span>
                              <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu py-0">
                              <a class="dropdown-item rounded-top" href="#"><span class="fas fa-eye me-2"></span>View Details</a>
                              <a class="dropdown-item" href="{% url 'edit_house' house.id %}"><span class="fas fa-edit me-2"></span>Edit</a>
                          </div>
                      </div>
                  </td>
            </tr>
           {% endfor %}
    </tbody>
</table>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
